{% extends '_base.html.twig' %}


{% block content %}
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  {% if app.user %}
    <div>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></div>
  {% endif %}

  <h1>Please sign in</h1>
  <form class="form-login" method="post">
    <div class="form-row">
      <label for="username">Username</label>
      <input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus>
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
    </div>

    {#
      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
      See https://symfony.com/doc/current/security/remember_me.html

      <div class="checkbox mb-3">
        <input type="checkbox" name="_remember_me" id="_remember_me">
        <label for="_remember_me">Remember me</label>
      </div>
    #}

    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
    
    <button type="submit">Sign in</button>
  </form>

  {#
  <p>Library catalogue for my private collection.</p>
  #}
{% endblock %}
