<div class="autocomplete">
    {% set list_name = "options-" ~ name %}
    <datalist id="{{ list_name }}">
        {% for option in options %}
            <option value="{{ option }}"></option>
        {% endfor %}
    </datalist>

    {% if values is iterable %}
        <ul id="autocomplete-{{ name }}">
        {% for value in values %}
            <li id="{{ name ~ loop.index0 }}">
                <input type="text" name="{{ name ~ loop.index0 }}" value="{{ value }}" list="{{ list_name }}">
                <div class="delete" onclick="deleteEntry('{{ name }}', {{ loop.index0 }})">X</div>
            </li>
        {% endfor %}
        </ul>

        <div class="add" onclick="newEntry('{{ name }}', '{{ list_name }}')">+ Add new</div>

    {% else %}
        <input type="text" name="{{ name }}" value="{{ values }}" list="{{ list_name }}">
    {% endif %}
</div>
