<div class="autocomplete">
    {% set list_name = "options-" ~ name %}
    <datalist id="{{ list_name }}">
        {% for option in options %}
            <option value="{{ option }}"></option>
        {% endfor %}
    </datalist>

    {% if values is iterable %}
        <ul id="autocomplete-{{ name }}">
        {% for value in values %}
            <li>
                <input type="text" name="{{ name }}[]" value="{{ value }}" list="{{ list_name }}">
                <div class="delete" onclick="htmx.remove(this.parentElement)">X</div>
            </li>
        {% endfor %}
        </ul>

        <div
            class="add"
            onclick="htmx.find('#autocomplete-{{ name }}').appendChild(htmx.find('#autocomplete-{{ name }}-tmpl').content.cloneNode(true))">
            + Add new
        </div>

        <template id="autocomplete-{{ name }}-tmpl">
            <li>
                <input type="text" name="{{ name }}[]" list="{{ list_name }}">
                <div class="delete" onclick="htmx.remove(this.parentElement)">X</div>
            </li>
        </template>

    {% else %}
        <input type="text" name="{{ name }}" value="{{ values }}" list="{{ list_name }}">
    {% endif %}
</div>
