{% set route = app.current_route %}
{% set params = app.current_route_parameters|merge(filter) %}

<div hx-table-content>

<table class="table">
  <thead>
    <tr>
    {% for key, field in fields %}
      {% set direction = (field.data == filter.order_by) ? filter.order_dir : '' %}
      {% set next_dir = (direction == 'asc') ? 'desc' : 'asc' %}
      <th
          hx-get="{{ path(route, params|merge({'order_by': field.data, 'order_dir': next_dir, 'page': 1})) }}"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="[hx-table-content]">
        {% if field.caption is defined %}
          <div class="table-field {{ direction }}">{{ field.caption }}</div>
        {% endif %}
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% set offset = (filter.page - 1) * filter.pp %}
  {% for entity in data|slice(offset, filter.pp) %}
    <tr>
    {% for field in fields %}
      <td {% if field.style_class is defined %}class="{{ field.style_class }}"{% endif %}>
        {{ render_value(field, entity) | raw }}
      </td>
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ fields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% include 'component/pagination.html.twig' with {
  'route': route,
  'params': params,
  'filter': filter,
  'max_count': data|length,
} only %}

</div>
