<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Pinakes{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{ asset('styles/pinakes.css') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <script src="{{ asset('js/htmx.min.js') }}"></script>
  </head>
  <body>

    <aside class="sidebar">
      <header>
        <a class="logo" href="/">Pinakes</a>
      </header>
      <nav>
        <ul>
          {% for item in navigation_items() %}
            <li>
              {% if item.items is defined %}
                {% set active_child = false %}

                {% for i in item.items %}
                  {% if i.route == app.current_route %} {% set active_child = true %} {% endif %}
                {% endfor %}

                <input type="checkbox" {% if active_child %}disabled checked{% endif %}>
                <label>{{ icon(item.icon)}} {{ item.caption }}</label>
                <ul class="subnav">
                {% for child in item.items %}
                  <li>
                    <a href="{{ path(child.route) }}" {% if child.route == app.current_route %}class="active"{% endif %}>
                      {{ icon(child.icon)}} {{ child.caption }}
                    </a>
                  </li>
                {% endfor %}
                <ul>
              {% else %}
                <a href="{{ path(item.route) }}" {% if item.route == app.current_route %}class="active"{% endif %}>
                  {{ icon(item.icon)}} {{ item.caption }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      <footer>
        {% if app.user is null %}
          <a href="{{ path('app_login') }}" title="Login">{{ icon('box-arrow-in-right') }} Login</a>
        {% else %}
          <a href="{{ path('app_logout') }}" title="Logout">{{ icon('box-arrow-right') }} Logout</a>
        {% endif %}
      </footer>
    </aside>

    <main>
      {% if is_granted('ROLE_LIBRARIAN') and (actions is defined) %}
        <div>
          {% for link in actions %}
            {{ link|raw }}
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
