<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Pinakes{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
      <link rel="stylesheet" href={{ asset('styles/pinakes.css') }}>
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
  </head>
  <body>
    <header class="container">
      <div></div>
      <div class="logo"><a href="/">Pinakes</a></div>
      {% if app.user is null %}
        <a href="{{ path('app_login') }}" title="Login">{{ icon('box-arrow-in-right') }}</a>
      {% else %}
        <a href="{{ path('app_logout') }}" title="Logout">{{ icon('box-arrow-right') }}</a>
      {% endif %}
    </header>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="container">
      <div class="copyright">2023-{{ 'now'|date('Y') }} oliver jakobs. All Rights Reserved.</div>
    </footer>
  </body>
</html>
