<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Pinakes{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{ asset('styles/pinakes.css') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script src="{{ asset('js/htmx.min.js') }}"></script>
  </head>
  <body>

    <aside class="sidebar">
      <header>
        <a class="logo" href="/">Pinakes</a>
      </header>
      <nav>
        <ul>
          {% for item in navigation_items() %}
            <li>

              {% set active = item.route == app.current_route %}
              {% set active_child = false %}
              {% set children = item.items | default([]) %}
              {% for child in children %}
                {% if child.route == app.current_route %} {% set active_child = true %} {% endif %}
              {% endfor %}

              <a href="{{ path(item.route) }}"
                {% if active %}
                  class="active{% if children is not empty %} arrow-up{% endif %}"
                {% elseif active_child %}
                  class="arrow-up"
                {% elseif children is not empty %}
                  class="arrow-down"
                {% endif %}
              >
                {{ icon(item.icon) }} {{ item.caption }}
              </a>

              {% if children is not empty and (active or active_child) %}
                <ul class="subnav">
                {% for child in children %}
                  <li>
                    <a href="{{ path(child.route) }}" {% if child.route == app.current_route %}class="active"{% endif %}>
                      {{ icon(child.icon) }} {{ child.caption }}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
      </nav>
      <footer>
        {% if app.user is null %}
          <a href="{{ path('app_login') }}" title="Login">{{ icon('box-arrow-in-right') }} Login</a>
        {% else %}
          <a href="{{ path('app_logout') }}" title="Logout">{{ icon('box-arrow-right') }} Logout</a>
        {% endif %}
      </footer>
    </aside>

    <main>
      {% if is_granted('ROLE_LIBRARIAN') and (actions is defined) %}
        <div class="actions">
          {% for link in actions %}
            {{ link|raw }}
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
