{% extends "_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/bookfund.css') }}>
{% endblock %}

{% block title %}
  Pinakes - Bookfund
{% endblock %}

{% block content %}
<div class="bookfund-container">
    {% include 'elements/balance.html.twig' with { 'allow_edit': true } %}

    <ul class="transactions">
        {% for transaction in transactions %}
            <li class="{% if transaction.amount < 0.0 %}withdrawal{% else %}deposit{% endif %}">
                <div class="amount">{{ transaction.amount | abs | fmt_currency }}</div>
                <div>{{ transaction.reason }}</div>
                <div class="timestamp">{{ transaction.timestamp|date("d.m.Y") }}</div>
            </li>
        {% endfor %}
    </ul>
    <a class="fancy-link" href="{{ path('transaction') }}">View All</a>
</div>
{% endblock %}
