{% extends "_base.html.twig" %}

{% block scripts %}
  <script src="{{ asset('js/edit.js') }}"></script>
{% endblock %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="detail">
  <h1>{{ entity }}</h1>
  <form>
  {% for name, field in fields %}
    <div><label for="{{ name }}">{{ field.caption }}:</label></div>
    {% set form = get_form(name, field, entity) %}
    <div>{% include form.path with form %}</div>
  {% endfor %}
  </form>

  <a href="/{{ name }}/show/{{ entity.id }}">Cancel</a>

</div>
{% endblock %}
