{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="show">
  <h1>{{ entity }}</h1>
  <form action="/{{ name }}/submit/{{ entity.id }}" method="post">
    <div class="show-table">
    {% for name, field in fields %}
      {% set form = get_form(name, field, entity) %}
      {% if form is not empty %}
        <div><label for="{{ name }}">{{ field.caption }}:</label></div>
        <div>{% include form.path with form %}</div>
      {% endif %}
    {% endfor %}
    </div>
    <input class="button" type="submit" value="Submit">
    <a class="button" href="{% if entity.id %}{{ path(name ~ '_show', { id: entity.id }) }}{% else %} {{ path(name) }}{% endif %}">Cancel</a>
  </form>
</div>
{% endblock %}
