{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ name|capitalize }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ filter.search|default }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ path(name ~ '_filter') }}"
      hx-target="[hx-table-content]">
    {% if control|default and is_granted('ROLE_LIBRARIAN') %}
      <div>
        {% for link in control %}
          {{ link|raw }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {{ render(path(name ~ '_filter', filter)) }}
</div>
{% endblock %}
