{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ title|capitalize }}
{% endblock %}

{% block content %}

{% set filter_uri = path(app.current_route ~ '_filter', app.current_route_parameters|merge(filter)) %}
<div class="container">
  <h1>{{ title }}</h1>

  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ filter.search|default }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ filter_uri }}"
      hx-target="[hx-table-content]">
    {% if is_granted('ROLE_LIBRARIAN') and (actions is defined) %}
      <div>
        {% for link in actions %}
          {{ link|raw }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {{ render(filter_uri) }}
</div>
{% endblock %}
