{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ title|capitalize }}
{% endblock %}

{% block content %}

<div class="container">
  <h1>{{ title }}</h1>

  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ filter.search|default }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ filter_url(app.current_route, app.current_route_parameters, filter) }}"
      hx-target="[hx-table-content]">
    {% if is_granted('ROLE_LIBRARIAN') and (actions is defined) %}
      <div>
        {% for link in actions %}
          {{ link|raw }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% include component_path | default('component/table.html.twig') %}
</div>
{% endblock %}
