{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ title }}
{% endblock %}

{% block content %}

<div class="container">
  <h1>{{ title }}</h1>

  <div class="table-control">
    <input
      class="table-search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ filter.search|default }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ filter_url(app.current_route, app.current_route_parameters, filter) }}"
      hx-target="[hx-table-content]">
    {% if filter_form is defined %}
    <label
      id="table-filter-label"
      for="table-filter-check" 
      onclick="this.classList.toggle('checked')">
      Filter
    </label>
    {% endif %}
  </div>
  {% if filter_form is defined %}
  <div class="table-filter">
    <input type="checkbox" id="table-filter-check">
    <div class="filter-dropdown">
      <form 
        hx-get="{{ filter_url(app.current_route, app.current_route_parameters, filter) }}"
        hx-target="[hx-table-content]">
        {% for name, form in filter_form %}
          <div>
            <label for="{{ name }}">{{ form.caption }}</label>
            {{ render_filter(repository, name, form, filter) | raw }}
          </div>
        {% endfor %}
        <button type="submit">Apply</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% include component_path | default('components/table.html.twig') %}
</div>
{% endblock %}
