{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="show">
  <h1>{{ entity }}</h1>

  <div class="show-main">
    <table class="table">
      <tbody>
      {% for field in fields %}
        <tr>
          <td class="fit-content">{{ field.caption }}:</td>
          <td {% if field.style_class is defined %}class="{{ field.style_class }}"{% endif %}>
            {{ render_value(field, entity) | raw }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
