{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="show">
  <h1>{{ entity }}</h1>

  <div class="show-main">
    <div class="show-table">
      {% for field in fields %}
        <div>{{ field.caption }}:</div>
        <div>{{ render_value(field, entity) | raw }}</div>
      {% endfor %}
    </div>

    {% if is_granted('ROLE_LIBRARIAN') and (actions is defined and actions is iterable) %}
      {% for action in actions %}
        {{ action | raw }}
      {% endfor %}
    {% endif %}
  </div>

  {% if content is defined %}
  <div>
    <h2>{{ content.title }}</h2>
    {{ render(path(content.route, content.filter|merge({ id: entity.id }))) }}
  </div>
  {% endif %}

</div>
{% endblock %}
