{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="detail">
  <h1>{{ entity }}</h1>
  <div class="show">
  {% for field in fields %}
    <div>{{ field.caption }}:</div>
    <div>{{ get_value(field, entity)|raw }}</div>
  {% endfor %}
  </div>

  <a href="/{{ name }}/edit/{{ entity.id }}">Edit</a>

</div>
{% endblock %}
