{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="show">
  <h1>{{ entity }}</h1>

  <div class="show-main">
    <div class="show-table">
      {% for field in fields %}
        <div>{{ field.caption }}:</div>
        <div>{{ render_value(field, entity) | raw }}</div>
      {% endfor %}
    </div>

    {% if is_granted('ROLE_LIBRARIAN') %}
      {% if route_exists(name ~ '_form') %}
        {# TODO edit replace 'show-main' with form #}
        <a class="button" href="{{ path(name ~ '_form', { id: entity.id })}}">Edit</a>
      {% endif %}
      <button class="button" hx-delete="{{ path(name ~ '_delete', { id: entity.id })}}">Delete</button>
      {#
      {% if route_exists(name ~ '_delete') %}
      {% endif %}
      #}
    {% endif %}
  </div>

  {% if content|default %}
  <div>
    <h2>{{ content.title }}</h2>
    {{ render(path(content.route, content.filter|merge({ id: entity.id }))) }}
  </div>
  {% endif %}

</div>
{% endblock %}
