<table class="table" hx-table-content>
  <thead>
    <tr>
    {% for key, field in fields %}
      {% set query = query_order(app.request, key) %}
      <th
        hx-get="/{{ name }}/filter{{ query }}"
        hx-trigger='click'
        hx-swap='outerHTML'
        hx-target="[hx-table-content]">
        <div class="table-field {{ order_icon(app.request, key) }}">{{ field.caption }}</div>
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr class="empty">
      <td colspan="{{ fields|length }}">
        {{ app.request.requesturi }}
      </td>
    </tr>
  {% for entry in data %}
    <tr>
    {% for field in fields %}
      <td>{{ get_value(field, entry)|raw }}</td>
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ fields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>