<table class="table" hx-table-content>
  <thead>
    <tr>
    {% for key, field in fields %}
      <th
          hx-get="/{{ name }}/filter?{{ order_query(app.request, field) }}"
          hx-trigger='click'
          hx-swap='outerHTML'
          hx-target="[hx-table-content]">
        <div class="table-field {{ order_icon(app.request, field) }}">{{ field.caption }}</div>
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for entry in data %}
    <tr>
    {% for field in fields %}
      <td>{{ get_value(field, entry)|raw }}</td>
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ fields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>