<div hx-table-content>

{% set route = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params')|merge(filter) %}


{% set offset = (filter.page - 1) * filter.pp %}

<table class="table">
  <thead>
    <tr>
    {% for key, field in fields %}
      {% set direction = (field.data == filter.order_by) ? filter.order_dir : '' %}
      {% set next_dir = (direction == 'asc') ? 'desc' : 'asc' %}
      <th
          hx-get="{{ path(route, params|merge({'order_by': field.data, 'order_dir': next_dir, 'page': 1})) }}"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="[hx-table-content]">
        <div class="table-field {{ direction }}">{{ field.caption }}</div>
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for entity in data|slice(offset, filter.pp) %}
    <tr>
    {% for field in fields %}
      <td>{% include '/component/datafield.html.twig' %}</td>
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ fields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if data|length == 1 %}
  <div>Found {{ data|length }} entry</div>
{% else %}
  <div>Found {{ data|length }} entries</div>
{% endif %}

{% set max_pages = ((data|length) / filter.pp)|round(0, 'ceil') %}
{% if max_pages > 1 %}
  <ul class="table-pagination" hx-boost="true">
    {% set start = max(min(filter.page - 4, max_pages - 8), 1) %}
    {% set end = min(start + 8, max_pages) %}

    {% if start > 1 %} {% set start = start + 1 %} {% endif %}
    {% if end < max_pages %} {% set end = end - 1 %} {% endif %}

    {% if filter.page > 1 %}
      <li class="icon">
        <a href="{{ path(route, params|merge({'page': filter.page - 1})) }}"
            hx-swap="outerHTML"
            class="prev-next"
            hx-target="[hx-table-content]">
          &#10094;
        </a>
      </li>
    {% endif %}

    {% if start > 1 %}
      <li>
        <a href="{{ path(route, params|merge({'page': 1})) }}"
            hx-swap="outerHTML"
            hx-target="[hx-table-content]">
          {{1}}
        </a>
      </li>
      <li>&#8230;</li>
    {% endif %}

    {% for p in range(start, end) %}
      <li>
        <a href="{{ path(route, params|merge({'page': p})) }}"
            {% if p == filter.page %}class="active"{% endif %}
            hx-swap="outerHTML"
            hx-target="[hx-table-content]">
          {{p}}
        </a>
      </li>
    {% endfor %}

    {% if end < max_pages %}
      <li>&#8230;</li>
      <li>
        <a href="{{ path(route, params|merge({'page': max_pages})) }}"
            hx-swap="outerHTML"
            hx-target="[hx-table-content]">
          {{ max_pages }}
        </a>
      </li>
    {% endif %}

    {% if filter.page < max_pages %}
      <li class="icon">
        <a href="{{ path(route, params|merge({'page': filter.page + 1})) }}"
            hx-swap="outerHTML"
            class="prev-next"
            hx-target="[hx-table-content]">
          &#10095;
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}

</div>
