<div hx-table-content class="table-container">

<table class="table">
  <thead>
    <tr>
    {% for field in table.dataFields %}
    {# TODO order by datafield #}
      {% set can_order_by = table.allow_ordering and field.canOrderBy %}
      {% if can_order_by %}
        {% set direction = (field.name == table.orderBy) ? table.orderDir : '' %}
      {% else %}
        {% set direction = '' %}
      {% endif %}
      <th
        {% if can_order_by %}
          hx-get="{{ filter_url(app.request, table, {
            'order_by': field.name,
            'order_dir': (direction == 'asc') ? 'desc' : 'asc',
            'page': 1
          }) }}"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="[hx-table-content]"
          class="can-order"
        {% endif %}
      >
        {% if field.caption is defined %}
          <div class="caption {{ direction }}">{{ field.caption }}</div>
        {% endif %}
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for entity in table.currentPage %}
    <tr>
    {% for field in table.dataFields %}
      {{ render_value(entity, field) | raw }}
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ table.dataFields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if table.allow_pagination %}
  {% include 'elements/pagination.html.twig' with {
    'table': table
  } only %}
{% endif %}

</div>
