{% set route = app.current_route %}
{% set params = app.current_route_parameters %}

<div hx-table-content class="table-container">

<table class="table">
  <thead>
    <tr>
    {% for key, field in fields %}
      {% set direction = (field.data == filter.order_by) ? filter.order_dir : '' %}
      <th
        {% if allow_ordering ?? true %}
          hx-get="{{ filter_url(route, params, filter, {
            'order_by': field.data,
            'order_dir': (direction == 'asc') ? 'desc' : 'asc',
            'page': 1
          }) }}"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="[hx-table-content]"
        {% endif %}
      >
        {% if field.caption is defined %}
          <div class="caption {{ direction }}">{{ field.caption }}</div>
        {% endif %}
      </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% set offset = (filter.page - 1) * filter.pp %}
  {% for entity in data|slice(offset, filter.pp) %}
    <tr>
    {% for field in fields %}
      {{ render_value(entity, field) | raw }}
    {% endfor %}
    </tr>
  {% else %}
    <tr class="empty">
      <td colspan="{{ fields|length }}">Nothing found!</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if allow_pagination ?? true %}
  {% include 'elements/pagination.html.twig' with {
    'filter': filter,
    'max_count': data|length,
  } only %}
{% endif %}

</div>
